.apipage{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  
    .top-box {
        margin: 30px;
    }

    .json-box {
        .refresh-btn {
            margin: 10px;
        }
    }
    .form-box {
        margin: 10px;
    }
    .apipage-title {
        margin-left: 10px;
    }
}