@import "../../colors";

.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 2.5em;
  position: relative;

  .postContainer {
    display: grid;
    grid-template-rows: 50px 1fr;
    border-radius: 0.5em;
    padding: 1em;
    background-color: $celadon;
      margin: 0.5em;

    .title {
      font-size: 1.5em;
      font-weight: bold;
    }
  }
  .title {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0.4em;
  }
  .meta {
    display: flex;
    gap: 1.5em;
    font-size: 0.8em;
    opacity: 80%;
    margin-left: 3.5em;
    margin-top: 1em;
  }
}
