@import "../../colors";
@import "@recogito/recogito-js/dist/recogito.min.css";

.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 2em;
  position: relative;

  .topContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    .backButton {
      color: $prussian-blue;
      margin: 0.4em;
      font-size: 30px;
      cursor: pointer;
      // Transition for smooth scaling
      transition: transform 0.3s ease;
      flex-grow: 0;
      width: min-content;

      &:hover {
        // Scale up the button on hover
        transform: scale(1.2);
      }
    }
  }

  .postContainer {
    display: grid;
    grid-template-rows: 80px min-content min-content min-content 250px min-content;
    border-radius: 0.5em;
    padding: 1em;
    background-color: $celadon;
    position: relative;
    gap: 0.5em;
    grid-template-areas:
      "t"
      "i"
      "a"
      "c"
      "b"
      "m";
    .edit {
      position: absolute;
      top: 0.5em;
      right: 0.5em;
    }
    .achievement {
      display: flex;
      align-items: center;
      grid-area: a;
      background-color: $vanilla-light-50;
      border-radius: 0.5em;
      padding: 0.5em;
      span {
        font-size: 1.5em;
        font-weight: bold;
        margin: 0em 2em;
        opacity: 80%;
      }
    }

    .mySpan {
      font-size: 1.5em;
      font-weight: bold;
      margin: 0em 2em;
      opacity: 80%;
      background-color: $vanilla-light-50;
    }
    .character {
      display: flex;
      align-items: center;
      grid-area: c;
      background-color: $vanilla-light-50;
      border-radius: 0.5em;
      padding: 0.5em;
      span {
        font-size: 1.5em;
        font-weight: bold;
        margin: 0em 2em;
        opacity: 80%;
      }
    }
    .title {
      grid-area: t;
      display: flex;
      align-items: center;
      gap: 0.5em;
      margin-bottom: 1em;
      h2 {
        font-size: 1.5em;
        font-weight: bold;
      }
      .vote {
        grid-area: v;
        grid-template-rows: repeat(3, 1fr);
        justify-items: center;
        align-items: center;
        display: grid;
        color: $orange;
        font-size: 1rem;

        button {
          cursor: pointer;
          background-color: $orange-dark-40;
          color: white;

          &.active {
            background-color: $orange;
          }

          &:disabled {
            opacity: 40%;
          }
        }
      }
    }

    .image {
      grid-area: i;
      min-height: 150px;
      max-height: 300px;
      width: 100%;
      display: flex;
      justify-content: center;
      background-color: $vanilla-light-50;
      border-radius: 0.5em;
      img {
        height: 100%;
        width: auto;
        object-fit: contain;
        padding: 0.5em;
      }
    }

    .body {
      grid-area: b;
      padding: 0.5em;
      background-color: $celadon-light-30;
      border-radius: 0.5em;
      position: relative;

      .postDetails {
        position: absolute;
        right: 0.5em;
        bottom: 0.5em;
        font-size: 0.8em;
        opacity: 80%;
        display: flex;
        gap: 1em;
      }
    }

    .comment {
      grid-area: m;
    }
  }
  .commentTitle {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0.5em;
    margin-top: 1em;
  }
  .meta {
    display: flex;
    gap: 1.5em;
    font-size: 0.8em;
    opacity: 80%;
    margin-left: 3.5em;
    margin-top: 1em;
  }
  .grantButton {
    position: absolute;
    margin-top: 5px;
    margin-left: 20em;
    padding: 0.6em 0.9em; 
    font-size: 0.8em;
    display: flex;
    background-color: $orange-light-10  ; 
    align-items: center;
    justify-content: center ;
    border-radius: 0.3em; 
    color: white; 

    right: 0.5em;

    &:hover {
      background-color: darken($orange, 10%);
    }
  }
}

// .r6o-widget.r6o-tag {
//   display: none !important;
// }

// .r6o-editor .r6o-editor-inner .r6o-widget {
//   display: none !important;
// }
