@import "../../colors";

.container {
  display: flex;
  background-color: $prussian-blue-dark-50;
  overflow: hidden;
  padding-right: 10px;
  .logo {
    flex: 0 0 clamp(0px, 20%, 300px);
    color: $yellow;
    align-self: center;
    font-size: large;
    text-align: center;
  }
  .menu {
    flex: 1 1 0px;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    & > * {
      flex: 1 1 0px;
    }
  }
}
