.pageContainer {
  padding: 1em;
  .postsContainer {
    display: flex;
    gap: 1em;
    flex-direction: column;
    .filterContainer {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      gap: 0.5em;
      padding: 0.5em;
    }
  }
}
.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
