.jsonviewer {
    max-height: 400px;
    overflow: auto;

    .jsonviewer-array-box {
        padding: 10px;

        display: flex;
        flex-direction: column;
        gap: 10px;
        height: auto;
    }

    .jsonviewer-object-box {
        padding: 10px;
        display: flex;
        flex-direction: column;

        .jsonviewer-value-box {
            display: flex;

            .jsonviewer-key {
                font-weight: bold;
                margin: 5px;
            }

            .jsonviewer-value {
                margin: 5px;
            }
        }
    }
}




.jsonviewer::-webkit-scrollbar {
    width: 8px;
}

.jsonviewer::-webkit-scrollbar-track {
    background: #cfe0e8;
}

.jsonviewer::-webkit-scrollbar-thumb {
    background: #615367;
    border-radius: 5px;
}

.jsonviewer::-webkit-scrollbar-thumb:hover {
    background: #555;
}