@import "../../colors";

.holyGrailLayout {
  display: grid;
  grid-template-rows: auto 1fr 0px;
  grid-template-areas:
    "header "
    "middle"
    "footer";
  height: 100%;
  background-color: $color-background;
  position: relative;
}

.header {
  position: sticky;
  top: 0;
  background-color: $color-secondary;
  grid-area: header;
  z-index: 10;
}

.middle {
  grid-area: middle;
  display: flex;
  justify-content: start;
  .mainContent {
    flex: 1 1 0px;
  }
}

.footer {
  grid-area: footer;
  height: 48px;
  background-color: $violet-light-10;
  position: relative;
}
