@import "../../colors";

.holyGrailLayout {
  display: grid;
  $column-size: clamp(0px, 20%, 300px);
  grid-template-columns: $column-size 1fr $column-size;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header header"
    "leftColumn mainContent rightColumn"
    "leftColumn footer rightColumn";
  height: 100%;
  background-color: $color-background;
}

.header {
  position: sticky;
  top: 0;
  background-color: $color-secondary;
  grid-area: header;
}

.mainContent {
  grid-area: mainContent;
}

.leftColumn {
  grid-area: leftColumn;
  background-color: $color-primary;
}

.rightColumn {
  grid-area: rightColumn;
  background-color: $color-accent;
}

.footer {
  grid-area: footer;
}
