.outerContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  background-color: #edf5fc;
}

.innerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  gap: 4rem;
}

.formContainer {
  padding: 2rem;
  border: 1px solid gray;
  border-radius: 10px;
  width: 30rem;
  background-image: url("../../../assets/images/cs.png");
}

.infoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registerHeader {
  color: white;
  margin-top: 0;
  margin-bottom: 2rem;
}

.registerInfo {
  color: black;
  font-weight: bold;
}

.registerForm {
  display: flex;
  flex-direction: column;
}

.formElem {
  margin-bottom: 2rem;
  width: 100%;
  padding: 0.4rem;
  font-size: 14px;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textError {
  color: red;
}

.userAgreementLink {
  color: lightblue;
  text-decoration: underline;
}

.agreeCheckbox {
  color: white;
  margin-bottom: 1rem;
}

.navigationLink {
  color: white;
}

.image {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
}
