@import "../node_modules/modern-normalize/modern-normalize.css";
@import "./colors";

body {
  --color-background: #{$color-background};
  --color-primary: #{$color-primary};
  --color-secondary: #{$color-secondary};
  --color-accent: #{$color-accent};
  --color-text: #{$color-text};
  --color-text-light: #{$color-text-light};
  --color-container: #{$color-container};
  --color-primary-dark: #{$color-primary-dark};
  background-color: $color-background;
  color: $color-text;
}
body,
html,
#root {
  height: 0px;
  min-height: calc(100% - 0.5px);
  width: 100vw;
  overflow-x: hidden;
}
