@import "../../colors";

.container {
  padding: 2.5em;
  border-radius: 0.5em;
  background-color: $violet-light-60;
  margin: 2.5em;

  .achievements {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    & > div {
      cursor: pointer;
      border-radius: 0.5em;
      &.active {
        border: 2px solid $orange;
        margin: -2px;
      }
    }
  }
}
