@import "../../../colors";

.container {
  padding: 1em;
  background-color: $celadon;
  border-radius: 0.5em;
  position: relative;
  max-width: 70em;
  word-break: break-word;
  gap: 0.5em;

  margin-bottom: 0.5em;
  .edit {
    position: absolute;
    bottom: 0.005em;
    right: 0.5em;
  }
  .commentButton{
    color: $celadon-light-30
  }
  .text{
    font-size: 1.2em;
  }
  .vote {
    justify-items: center;
    align-items: center;
    display: grid;
    color: $orange;
    font-size: 1rem;
    margin-right: 30px;


    button {
      cursor: pointer;
      background-color: $orange-dark-40;
      color: white;

      &.active {
        background-color: $orange;
      }

      &:disabled {
        opacity: 40%;
      }
    }
  }
  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    margin-left: 10px;
  }
  .column{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  .title {
    font-size: 1em;
    font-weight: bold;
  }
  .meta {
    display: flex;
    gap: 1.5em;
    font-size: 0.8em;
    opacity: 80%;
    margin-left: 3.5em;
    margin-top: 1em;
  }
  .delete {
    margin-left: 5em;
  }
  .commentInput {
    padding: 1em;
    position: relative;
    flex-direction: row;
  }
}