@import "../../colors";

.container {
  padding: 3rem;
}

.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.games {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}
.headerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color:  $vanilla-light-40;
  padding: 0.5em;
  margin-bottom: 1.5em;
  border-radius: 0.5em;
}

.header {
  color: $violet-dark-20;
}

.search {
  width: 200px;
  margin-right: 1rem;
}
.filter {
  background-color: $vanilla-light-70;
  padding: 1em;
  margin-bottom: 2em;

  border-radius: 0.5em;
}
.filterButton {
  background-color: $yellow;
}
