@import "../../../../colors";

.container {
  padding: 4rem;

  .header {
    color: red;
  }

  .form {
    width: 40rem;
  }

  .input {
    margin-bottom: 2rem;
  }

  .button {
    width: 25%;
  }
}
