@import "../../../colors";

.container {
  position: relative;
  padding: 1em;
  background-color: $celadon;
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 0.5em;
  .titleContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
  }
  .title {
    font-weight: bold;
    font-size: 1.2em;
  }
  .meta {
    display: flex;
    gap: 1em;
    font-size: 0.8em;
    opacity: 80%;
  }
  .readMore {
    position: absolute;
    bottom: 0.5em;
    right: 0.5em;
  }
}
