@import "../../../colors";

.container {
  position: relative;
  background-color: $celadon;
  border-radius: 0.5em;
  display: grid;
  gap: 0.5em;
  overflow: hidden;
  color: $color-text;
  grid-template-rows: 30px 55px 35px;
  grid-template-columns: 60px 1fr;
  grid-template-areas:
    "v t"
    "v c"
    "v m";
  .titleContainer {
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 0.5rem;
  }

  .content {
    grid-area: c;
    overflow: hidden;
    opacity: 80%;
    padding-right: 2.5em;
  }

  .vote {
    grid-area: v;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    display: grid;
    color: white;
    background-color: $orange-light-40;
    button {
      cursor: pointer;
      background-color: $orange-dark-40;
      color: white;

      &.active {
        background-color: $orange;
      }

      &:disabled {
        opacity: 40%;
      }
    }
  }
  .title {
    font-weight: bold;
    font-size: 1.2em;
    grid-area: t;
  }
  .meta {
    display: flex;
    align-items: end;
    gap: 1em;
    padding: 0.5em;
    font-size: 0.8em;
    opacity: 80%;
    grid-area: m;
  }
  .readMore {
    position: absolute;
    bottom: 0.5em;
    right: 0.5em;
  }
  .edit {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
  }
}
